<div class="mtc-conlet-senderinfo mtc-conlet-senderinfo__view"
    data-conlet-title="${emailAddress}"
    data-jgwc-on-load="deMnlMtcSenderInfo.initView"
    data-jgwc-on-unload="JGConsole.jgwc.unmountVueApps">
  <div ref="apiNode" class="mtc-conlet-senderinfo-api">
    <p class="mtc-conlet-senderinfo__info" v-if="message">{{ message }}</p>
  </div>
  <div v-if="userInfo">
    <p>{{ localize("Last name") }}: {{ userInfo.lastName }}</p>
    <p>{{ localize("First name") }}: {{ userInfo.firstName }}</p>
    <ul>
    <li v-for="course in userInfo.courses">
      <a :href="course.url" target="_blank">{{ course.name }}</a></li>
    </ul>
  </div>
</div>
