<div class="mtc-conlet-tobegraded"
    data-portlet-title="${_("conletName")}"
    data-jgwc-on-load="deMnlMtcTobegraded.initPreview"
    data-jgwc-on-unload="JGConsole.jgwc.unmountVueApps">
  <div ref="apiNode" class="mtc-conlet-tobegraded-api">
    <p class="mtc-conlet-tobegraded__info" v-if="message">{{ message }}</p>
    <ul>
      <li v-for="course in courses">
        <p><a :href="course.url" target="_blank">{{ course.shortname }}</a></p>
        <ul>
        <template v-for="assignment in course.assignments">
          <li><p>
            <a :href="assignment.url" target="_blank">{{ assignment.name }}</a>
            <template v-for="group in groupsByAssignment(assignment.id)">
              &nbsp;(<a :href="groupUrl(assignment, group)" target="_blank">
                {{group.name}}</a><span v-if="group.dueCount > 0">
                , {{ group.dueCount }} {{ localize("whereGradingIsDue") }}</span>)
            </template>
          </p></li>
        </template>
        </ul>
      </li>
    </ul>
  </div>
</div>
